# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/node_modules
/bower_components

# Optional npm cache directory
.npm

# Miscellaneous
.DS_Store
Thumbs.db

# Ignore Mac system files
.DS_Store

# Ignore temporary files
*.swp
*.swo
.vscode/